<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/view/style/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
	<link href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css" rel="stylesheet">
    <title>Login</title>
	<link rel="icon" href="img/cc.png">
</head>


<body>

	<div class="section">
		<div class="container">
			<div class="row full-height justify-content-center">
				<div class="col-12 text-center align-self-center py-5">
					<div class="section pb-5 pt-5 pt-sm-2 text-center">
						<h6 class="mb-0 pb-3"><span>Entrar</span><span>Cadastrar</span></h6>
			          	<input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
			          	<label for="reg-log"></label>
						<div class="card-3d-wrap mx-auto">
							<div class="card-3d-wrapper">
								<div class="card-front">
									<div class="center-wrap">
										<div class="section text-center">
											<h4 class="mb-4 pb-3">Entrar</h4>
											<div class="form-group">
												<input type="email" name="email_usuario" class="form-style" placeholder="Email" id="email_usuario" autocomplete="off">
												<i class="input-icon bi bi-envelope-at"uil uil-at"></i>
											</div>
											<div class="form-group mt-2">
												<input type="password" name="senha_usuario" class="form-style" placeholder="Senha" id="senha_usuario" autocomplete="off">
												<i class="input-icon bi bi-lock"></i>
											</div>
											<a href="#" class="btn mt-4">Entrar</a>
                            				<p class="mb-0 mt-4 text-center"><a href="#0" class="link">Esqueceu a senha?</a></p>
				      					</div>
			      					</div>
			      				</div>
								<div class="card-back">
									<div class="center-wrap">
										<div class="section text-center">
											<h4 class="mb-4 pb-3">Cadastrar</h4>
											<div class="form-group">
												<input type="text" name="nome_usuario" class="form-style" placeholder="Nome Completo" id="nome_usuario" autocomplete="off">
												<i class="input-icon bi bi-person"></i>
											</div>	
											<div class="form-group mt-2">
												<input type="number" name="cpf_usuario" class="form-style" placeholder="CPF" id="cpf_usuario" autocomplete="off">
												<i class="input-icon bi-person-vcard-fill"></i>
											</div>
											<div class="form-group mt-2">
												<input type="email" name="email_usuario" class="form-style" placeholder="Email" id="email_usuario" autocomplete="off">
												<i class="input-icon bi bi-envelope-at"></i>
											</div>
											<div class="form-group mt-2">
												<input type="number" name="telefone_usuario" class="form-style" placeholder="Telefone" id="telefone_usuario" autocomplete="off">
												<i class="input-icon bi bi-phone"></i>
											</div>												
											<div class="form-group mt-2">
												<input type="text" name="endereco_usuario" class="form-style" placeholder="Endereço" id="endereco_usuario" autocomplete="off">
												<i class="input-icon bi bi-geo-alt"></i>
											</div>
											<div class="form-group mt-2">
												<input type="password" name="senha_usuario" class="form-style" placeholder="Sua Senha" id="senha_usuario" autocomplete="off">
												<i class="input-icon bi bi-lock"></i>
											</div>
											<div class="form-group mt-2">
												<input type="password" name="confirmar_senha" class="form-style" placeholder="Confirme sua Senha" id="confirmar_senha" autocomplete="off">
												<i class="input-icon bi bi-lock"></i>
											</div>

											<a href="#" class="btn mt-4">Cadastrar</a>
				      					</div>
			      					</div>
			      				</div>
			      			</div>
			      		</div>
			      	</div>
		      	</div>
	      	</div>
	    </div>
	</div>
</body>
</html>