<!DOCTYPE html>
<html lang="en">
<head>
  <title>Compra Certa</title>
  <link rel="icon" href="img/cc.png">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
  
<!-- ESTILO -->
<style>
  .body{
    background-color: beige;
  }

  .card{
    border-color: orange;
  }

  .nav-link{
    color: white;
  }

  .nav-link:hover{
    color: orange;
  }
</style>
</head>


<body>

<!-- MENU --> 
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/view/index.html"><img src="/view/img/cc1.png"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/view/index.html">Página Inicial</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/view/categorias.html">Categorias</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/view/ComprasCliente.html">Minhas Compras</a>
        </li>    

      </ul>

      <form class="d-flex">

        <!-- PESQUISAR -->
        <class class="dropdown">
          <i type="button" data-bs-toggle="dropdown">
            <i class="btn"><i class="bi bi-search" style="color: white;"></i>
            </i>
          </i>

          <ul class="dropdown-menu">
            <input class="form-control me-2" type="text" placeholder="Pesquise aqui">
            <a class="btn" href="#"><i class="bi bi-search" style="color: black;"></i></a>
          </ul>
    </div>

    <!-- CARRINHO -->
    <a class="btn" href="/view/carrinho.html"><i class="bi bi-cart" style="color: white;"></i></a>
    
    <!-- LOGIN -->
    <a class="btn" href="/view/acessoUsuario.html"><i class="bi bi-person-circle" style="color: white;"></i></a>
    </form>
    </div>
  </div>
</nav>

<!-- CARROSSEL -->
<div class="container-md">

<br>
<!-- PRODUTOS (BLOCO 1) -->
<div id="demo" class="carousel" style="width: 100%">
  <div class="container-fluid mt-3" style="width: 75%;">
    <h3>Materias de Limpeza</h3><br>
  </div>
 
  <!-- LISTA PRODUTOS -->
  <div class="carousel-inner">
    <center>
      <div class="carousel-item active">
        <div class="row" style="width: 75%;">

          <div class="col-sm">
            <div class="card">
              <img class="card-img-top" src="/view/img/produtos/oleo.png" alt="Card image">
              <div class="card-body">
                <p class="card-text">Óleo de Soja Soya Pet 900ML</p>
                <h5 class="card-title">R$7,99</h5>
                <a href="#" class="btn btn-outline-warning">Comprar</a>
              </div>
            </div>
          </div>

          <div class="col-sm">
            <div class="card">
              <img class="card-img-top" src="/view/img/produtos/acucar.png" alt="Card image">
              <div class="card-body">
                <p class="card-text">Açúcar Cristal Pinheiro 1KG</p>
                <h5 class="card-title">R$3,99</h5>
                <a href="#" class="btn btn-outline-warning">Comprar</a>
              </div>
            </div>
            
          </div><div class="col-sm">
            <div class="card">
              <img class="card-img-top" src="/view/img/produtos/arroz.png" alt="Card image">
              <div class="card-body">
                <p class="card-text">Arroz Parboilizado Urbano Tipo1 1KG</p>
                <h5 class="card-title">R$4,59</h5>
                <a href="#" class="btn btn-outline-warning">Comprar</a>
              </div>
            </div>
          </div>

          <div class="col-sm">
            <div class="card">
              <img class="card-img-top" src="/view/img/produtos/flocao.png" alt="Card image">
              <div class="card-body">
                <p class="card-text">Flocão de Milho Maratá 500G</p>
                <h5 class="card-title">R$1,99</h5>
                <a href="#" class="btn btn-outline-warning">Comprar</a>
              </div>
            </div>
          </div>

        </div>
        <br>
    </div>
    <div class="carousel-item">
      <div class="row" style="width: 75%;">

        <div class="col-sm">
          <div class="card">
            <img class="card-img-top" src="/view/img/produtos/cafe.png" alt="Card image">
            <div class="card-body">
              <p class="card-text">Café Maratá a Vácuo 250G</p>
              <h5 class="card-title">R$7,49</h5>
              <a href="#" class="btn btn-outline-warning">Comprar</a>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
    </center>
  </div>
  
</div>

</body>
</html>